apiVersion: v1
kind: ConfigMap
metadata:
  name: myapp-config
  namespace: staging
data:
  DATABASE_URL: "postgres://postgres:password@myapp-staging-postgres-service:5432/people"
  NODE_ENV: "staging"
  VUE_APP_API_URL: "http://myapp-staging-backend-service:3000"
  POSTGRES_DB: "mydatabase"
  API_URL: "http://myapp-staging-backend-service:3000"
  # Add this key with the appropriate value
